<form method="post" action="/auth" class="auth">
    <div class="inputs">
        <input name="login" id="login" placeholder="login" type="text">
        <input name="password" id="password" placeholder="pass" type="text">
    </div>
    <button type="submit" id="loginButton">enter</button>
</form>